body{
    background-color: lightcoral;
}

.todo{
    margin-left: 40%;
    margin-top: 20%;
    border: 2px transparent;
    box-shadow: 0.5px 0.5px 8px #808080;
    border-radius: 10px;
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
}

h2{
    padding-top: 20px;
    padding-left: 20px;
    color: purple;
}

.do{
    padding: 20px;
    color: plum;
    font-size: large;
}

.list{
    padding-top: 20px;
}

.list label{
    padding-left: 10px;
}